[Unit]
Description=Telegram Bot RaspMirSMPC
After=network.target
[Service]
Type=simple
ExecStart=/root/RaspMirSMPC/start_linux.sh
[Install]
WantedBy=multi-user.target